$datepicker__background-color: $body-bg !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: $primary !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;

$datepicker__border-radius: 0;
$datepicker__day-margin: .166rem !default;
$datepicker__font-size: $font-size-base ;
$datepicker__font-family: $font-family-base;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: .4rem !default;
$datepicker__navigation-size: .45rem !default;
$datepicker__triangle-size: 8px !default;
